<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".footer-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse footer-collapse">
        <ul class="nav pull-right">
          <li class="footer-li"><%= link_to '<i class="icon-question-sign link-icon icon-white"></i> About'.html_safe, about_path %></li>
          <li class="footer-li"><%= link_to '<i class="icon-inbox link-icon icon-white"></i> Contact'.html_safe, contact_path %></li>
          <li><%= link_to '<i class="icon-eye-open link-icon icon-white"></i> Privacy Policy'.html_safe, privacy_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

